pydantic==2.9.2            # Data validation library
pyodbc==5.2.0              # ODBC database adapter for Python
pytest==8.3.3              # Testing framework
SQLAlchemy==2.0.36         # SQL toolkit and ORM
sqlalchemy-pyodbc-mssql==0.1.1  # MSSQL dialect for SQLAlchemy